arcade/__pycache__
arcade/classes/__pycache__
arcade/classes/tile/__pycache__
arcade/func/__pycache__
arcade/interface/__pycache__
arcade/utils/__pycache__
arcade/font/__pycache__
arcade/debug/__pycache__