framework/arcade/__pycache__
framework/arcade/classes/__pycache__
framework/arcade/classes/tile/__pycache__
framework/arcade/classes/sprite/__pycache__
framework/arcade/debug/__pycache__
framework/arcade/font/__pycache__
framework/arcade/func/__pycache__
framework/arcade/interface/__pycache__
framework/arcade/utils/__pycache__

framework/world_engine/__pycache__
framework/world_engine/classes/__pycache__
framework/world_engine/classes/tile/__pycache__
framework/world_engine/debug/__pycache__
framework/world_engine/font/__pycache__
framework/world_engine/func/__pycache__
framework/world_engine/interface/__pycache__
framework/world_engine/utils/__pycache__